@namespace MuzakBot.WebApp.Components.Pages

@using MuzakBot.WebApp.Components.Core
@using MuzakBot.WebApp.Components.LyricsAnalyzer

@page "/lyrics-analyzer/analysis"
@page "/lyrics-analyzer/analysis/{AnalysisId}"

<HeadContent>
    @if (_loading)
    {
        <PageTitle>MuzakBot - Lyrics analysis - Loading...</PageTitle>
    }

    @if (_errorOccurred)
    {
        <PageTitle>MuzakBot - Lyrics analysis - Error</PageTitle>
    }

    @if (_analyzedLyrics is not null && _analyzedLyricsEnriched is not null && !_errorOccurred && !_loading)
    {
        <!-- Generic meta tags -->
        <PageTitle>MuzakBot - Lyrics analysis - @_analyzedLyrics.SongName by @_analyzedLyrics.ArtistName</PageTitle>
        <meta content="AI generated lyrics analysis for the song '@(_analyzedLyrics.SongName)' by @(_analyzedLyrics.ArtistName)." name="description" />
        <meta content="Tim Small" name="author" />

        <!-- OpenGraph/Facebook meta tags -->
        <meta content="MuzakBot - Lyrics analysis - @_analyzedLyrics.SongName by @_analyzedLyrics.ArtistName" name="title" property="og:title" />
        <meta content="AI generated lyrics analysis for the song '@(_analyzedLyrics.SongName)' by @(_analyzedLyrics.ArtistName)." property="og:description" />
        <meta content="https://muzakbot.smalls.online/lyrics-analyzer/analysis/@(AnalysisId!)" property="og:url" />
        <meta content="website" property="og:type">
        <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" property="og:image">

        <!-- Twitter meta tags -->
        <meta content="summary_large_image" name="twitter:card">
        <meta content="MuzakBot - Lyrics analysis - @_analyzedLyrics.SongName by @_analyzedLyrics.ArtistName" name="twitter:title">
        <meta content="AI generated lyrics analysis for the song '@(_analyzedLyrics.SongName)' by @(_analyzedLyrics.ArtistName)." name="twitter:description">
        <meta content="muzakbot.smalls.online" property="twitter:domain">
        <meta content="https://muzakbot.smalls.online/lyrics-analyzer/analysis/@(AnalysisId!)" property="twitter:url">
        <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" name="twitter:image">
    }
</HeadContent>

<PageCard Title="Lyrics Analysis" Icon="music-note-list">
    @if (_loading)
    {
        <div class="row pt-2">
            <div class="col">
                <p>Loading...</p>
            </div>
        </div>
    }

    @if (_errorOccurred)
    {
        <div class="row pt-2">
            <div class="col">
                <p>
                    @_errorMessage!
                </p>
            </div>
        </div>
    }

    @if (_analyzedLyrics is null && !_errorOccurred && !_loading)
    {
        <div class="row pt-2">
            <div class="col">
                <h3>
                    Not a valid lyric analysis
                </h3>
            </div>
        </div>
    }

    @if (_analyzedLyrics is not null && _analyzedLyricsEnriched is not null && !_errorOccurred && !_loading)
    {
        <AnalyzedLyricsCard AnalyzedLyrics="@_analyzedLyrics" AnalysisMarkdown="@_analyzedLyricsEnriched" />
    }
</PageCard>
